@model Flashcards.WebUI.Models.RegisterViewModel
@{
    ViewBag.Title = "Create a new account";
}

<div class="col-md-12 d-flex flex-row justify-content-center align-content-center flex-wrap">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="card mt-5 mb-3 ">
            <div class="card-header">
                <h3 class="text-center">@ViewBag.Title.</h3>
            </div>

            <div class="card-body form-signin d-flex flex-column justify-content-center align-items-center align-content-center flex-wrap">

                <div class="form-signin">
                    @Html.LabelFor(m => m.Email, new { @class = "sr-only" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                    </div>
                </div>
                <div class="form-signin">
                    @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    </div>
                </div>
                <div class="form-signin">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "sr-only" })
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
                    </div>
                </div>

                <p class="col-md-2">
                    @Html.ValidationSummary("", new { @class = "col-md-10 text-danger", @style= "list-style-type: none" })
                    @Html.AntiForgeryToken()
                </p>

                <div class="form-signin">
                    <div class=" col-md-12">
                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Register" />
                    </div>
                </div>

            </div>
        </div>
    }
</div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
